body {
	margin: 0;
}

#app {
	background-color: #333;
	color: #eee;
	font-family: sans-serif;
	font-size: 15px;
}

.md-editor-preview {
	color: #eee !important;
	font-size: inherit !important;
	word-break: inherit !important;
}

.md-editor {
	font-size: inherit !important;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background-color: #777;
	border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}
